{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Edit {{ user.fullname }}'s Details
        {% endblock %}
    </h1>
    <form method="post">
        <p>
            <label for="fullname">Fullname</label>
            <input type="text" name="fullname"
                   value={{ user.fullname }}
                   placeholder="Fullname">
            </input>
        </p>

        <p>
            <label for="lastname">Phone Number</label>
            <input type="text" name="phone_number"
                   value={{ user.phone_number }}
                   placeholder="0712345678">
            </input>
        </p>

        <p>
            <label for="password">Password</label>
            <input type="password" name="password"
                   value={{ user.password }}
                   placeholder="*****">
            </input>
        </p>
        
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
{% endblock %}